{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Tasks</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
        <div class="logo">
          <i class="bx bxl-codepen"></i>
          <span>WorkMate</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <div class="user">
        <img src="{% static "user-img.jpg" %}" alt="me" class="user-img">
        <div>
          {% if user.is_authenticated %}
          <p class="bold">Hello, {{user.username}}</p>
          {% endif %}
        </div>
      </div>
      <ul>
        <li>
          <a href="/">
            <i class="bx bxs-grid-alt"></i>
            <span class="nav-item">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        {% if perms.tasks.view_task %}
        <li>
          <a href="/gestion-tareas/">
            <i class="bx bx-task"></i>
            <span class="nav-item">Manage Tasks</span>
          </a>
          <span class="tooltip">Manage Tasks</span>
        </li>
        {% endif %}
        {% if perms.user.edit_user %} 
        <li>
          <a href="/gestion-usuarios/">
            <i class="bx bxs-user-account"></i>
            <span class="nav-item">Manage Users</span>
          </a>
          <span class="tooltip">Manage Users</span>
        </li>
        {% endif %}
        <li>
          <a href="/mis-tareas/">
            <i class="bx bxs-notepad"></i>
            <span class="nav-item">My Tasks</span>
          </a>
          <span class="tooltip">My Tasks</span>
        </li>
        <li>
          <form method="POST" action="{% url 'base:logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" aria-label="Logout">Log out</button>
          </form>
          <span class="tooltip">Log out</span>
        </li>
      </ul>
    </div>

    <div class="main-content">
      <div class="container mt-4">
        <h1>Manage Tasks</h1>
        <a href="{% url 'base:crear-tarea' %}" class="btn btn-primary btn-sm mb-3">Create Task</a>
        <div class="row">
          {% for task in tasks %}
          <div class="col-md-4 mb-4">
            <div class="card h-100 border-primary mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">Description: {{ task.description }}</p>
                <p class="card-text">Category: {{ task.category }}</p>
                <p class="card-text">Date limit: {{ task.datelimit }}</p>
                <p class="card-text">Priority: Level {{ task.priority }}</p>
                <p class="card-text">Assigned to: {{ task.user.first_name }} {{ task.user.last_name }}</p>
                <p class="card-text">Progress: {{ task.get_progress_display }}</p>
                <a href="{% url 'base:editar_tarea' task.id %}" class="btn btn-secondary btn-sm">Edit</a>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12">
            <h3>No tasks available</h3>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      let btn = document.querySelector('#btn');
      let sidebar = document.querySelector('.sidebar');

      btn.onclick = function () {
        sidebar.classList.toggle('active');
      };
    </script>
  </body>
</html>